type hal_touch_lito, coredomain, domain;
hal_server_domain(hal_touch_lito, hal_lineage_touch)

type hal_touch_lito_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_touch_lito)

# Allow access to gesture enable nodes
allow hal_touch_lito proc_touchpanel:dir search;
allow hal_touch_lito proc_touchpanel:file rw_file_perms;
